#contacts-block .contacts__top {
  display: flex;
  align-items: flex-start;
  gap: 200px;
  padding: 40px 80px;
  margin-bottom: 30px;
  border-radius: 20px;
  background: var(--Card, #FFF);
}
#contacts-block .contacts__top .contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contacts-block .contacts__top .contact__title {
  color: var(--Main-text, #545454);
  font-size: calc(0.00125 * 100vw + 11.6px);
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}
#contacts-block .contacts__top .contact__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contacts-block .contacts__top .contact__wrapper .item h5 {
  transition: color 0.15s ease-in;
}
#contacts-block .contacts__top .contact__wrapper .item:hover h5 {
  color: var(--Primary);
}
#contacts-block .contacts__top .socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#contacts-block .contacts__top .socials__title {
  color: var(--Main-text, #545454);
  font-size: calc(0.00125 * 100vw + 11.6px);
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
}
#contacts-block .contacts__top .socials__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
}
#contacts-block .contacts__top .socials__wrapper .social {
  width: 24px;
  height: 24px;
}
#contacts-block .contacts__top .socials__wrapper .social svg, #contacts-block .contacts__top .socials__wrapper .social img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#contacts-block .contacts__bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
#contacts-block .contacts__bottom .address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  padding: 40px 30px 30px 30px;
  border-radius: 20px;
  background: var(--Card, #FFF);
}
#contacts-block .contacts__bottom .address__text {
  max-width: 510px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 50px;
}
#contacts-block .contacts__bottom .address__title {
  color: var(--Main-text, #545454);
}
#contacts-block .contacts__bottom .address__value {
  color: var(--Head, #292929);
}
#contacts-block .contacts__bottom .address__image {
  width: 100%;
  height: 335px;
  object-fit: cover;
  border-radius: 20px;
  background: var(--Background-light, #F8F8F8);
}

/*============ MEDIA ==================*/
@media (max-width: 1221px) {
  #contacts-block .contacts__top {
    justify-content: space-between;
    gap: 20px;
  }
  #contacts-block .contacts__bottom {
    grid-template-columns: 1fr;
  }
  #contacts-block .contacts__bottom .address__image {
    aspect-ratio: 16/9;
    max-height: 350px;
    height: auto;
  }
}
@media (max-width: 769px) {
  #contacts-block .contacts__top {
    flex-wrap: wrap;
    padding: 20px 40px;
  }
  #contacts-block .contacts__bottom .address__text {
    margin: 0;
  }
}
@media (max-width: 576px) {
  #contacts-block .contacts__bottom .address {
    gap: 15px;
    padding: 15px;
  }
}

/*# sourceMappingURL=block.css.map */
